.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: url("./images/image.png") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 15px 0px 247px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-bottom: 26px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pYZa {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 18px 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pYZa {
    display: flex;
  }
}
.figmaPaste {
  display: flex;
  position: relative;
  width: 223px;
  height: 195px;
  align-self: center;
  flex-direction: column;
  flex-shrink: 0;
}
.figmaPaste > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.figmaPaste > :global(.__wab_flex-container) > *,
.figmaPaste > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.figmaPaste > :global(.__wab_flex-container) > picture > img,
.figmaPaste
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.image41 {
  background: url("./images/image41.png") center center / cover no-repeat;
  width: 166px;
  height: 108px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 273px;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 8px;
}
.text__epYri {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(238, 54, 61, 1);
}
.text__jMxu {
  display: block;
  font-size: 28px;
  text-align: center;
  font-family: "Arial";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(238, 54, 61, 1);
  position: relative;
  left: auto;
  top: auto;
}
.column__e4Bz2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff80;
  min-width: 0;
  border-radius: 10px;
  padding: 18px 0px;
  border: 0.8px solid #dddcdc;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 351px;
}
